.heading {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 80px;
    background-color: rgb(143, 95, 22);
    margin: 30px 200px 30px 200px;
    border: 4px solid black
}

.heading.secundario {
    font-size: 30px;
    background-color: rgb(175, 104, 57);
}

.heading.index {
    color: rgba(9, 41, 54, 0.795);
    background-color: rgba(161, 45, 45, 0.747);
    font-size: 80px;
    font-weight: bold;
    padding: 10px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 16px ;
    margin-top: 16px;
    border: 4px solid black

}

.parrafo {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(255, 166, 107, 0.363);
    font-weight: 500;
    font-size: 25px;
    margin: 30px ;
    border: 4px solid rgb(110, 72, 0);
    padding: 10px;
}

.item {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: rgba(235, 130, 44, 0.699);
    margin-left: 300px;
    margin-right: 300px;
    padding: 8px;
    margin-top: 16px;
    border: 4px solid rgb(110, 72, 0);
}
.item.principal {
    background-color: rgb(245, 148, 148);
    font-weight: 600;
    font-size: 25x;  
    border: 4px solid black;
    

}

.item-index {
    display: block;
    text-align: center;
    margin:  8px;
    border: 4px solid rgb(128, 0, 0);
    padding: 6px;
    background-color: rgba(62, 232, 255, 0.575);
    
}

img {
    width: auto;
    height: 350px;
    display: block;
    margin: auto;
    border: 4px solid black;
}

.img-index {
    height: auto;
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    border: 4px solid black;
}

body {
    background-color: rgba(190, 117, 117, 0.726);
}

button {
    background-color: rgb(211, 54, 54);
    display: block;
    margin: auto ;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 4px solid rgb(57, 77, 39);
   
}